In [2]:
import pandas as pd

# Reading the UN data

In [3]:
un_data = pd.read_csv('../data/raw/un-general-debates.csv')
un_data.head()

   session  year country                                               text
0       44  1989     MDV  ﻿It is indeed a pleasure for me and the member...
1       44  1989     FIN  ﻿\nMay I begin by congratulating you. Sir, on ...
2       44  1989     NER  ﻿\nMr. President, it is a particular pleasure ...
3       44  1989     URY  ﻿\nDuring the debate at the fortieth session o...
4       44  1989     ZWE  ﻿I should like at the outset to express my del...

# Considering only the data from 2002-2007

In [4]:
years_of_interest = [2002, 2003, 2004, 2005, 2006, 2007]
un_data_updated = un_data[un_data['year'].isin(years_of_interest)]
un_data_updated.count()

session    1138
year       1138
country    1138
text       1138
dtype: int64

In [5]:
un_data_updated.to_json('../data/processed/UN_data.json', orient='records')

In [6]:
un_data_updated_json = pd.read_json('../data/processed/UN_data.json')

# Adding the labels unique for each country

In [7]:
#add label field to json where label is assigned based on country
un_data_updated_json['label'] = un_data_updated_json['country'].astype('category').cat.codes
un_data_updated_json.head()
#update the json file
un_data_updated_json.to_json('../data/processed/UN_data.json', orient='records')
un_data_updated_json.head()

,session,year,country,text,label
0,57,2002,PAN,﻿Allow me\nto begin my statement by expressing...,135
1,57,2002,IND,﻿I\ncongratulate Mr. Kavan on his election as ...,77
2,57,2002,MDV,"﻿Mr. President, it gives\nme great pleasure to...",110
3,57,2002,DJI,﻿In a year\nof frightful tragedy and uncertain...,45
4,57,2002,NLD,"﻿The smoke\nat ground zero, only a few blocks ...",128